@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:600i&display=swap');

.Lobster {
  font-family: 'Lobster', cursive;
}

.Raleway {
  font-family: 'Raleway', sans-serif;
}

.Barlow {
  font-family: 'Barlow', sans-serif;
}


.rtl {
  direction: rtl;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  background-image: url('../img/night.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidenav-color {
  background-image: linear-gradient(to left bottom, #7b24ebba, #ab22dab5, #ca2fcac7, #df44bdc7, #ed5bb3c2);
  height: 100%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
  background-color: #ffffff30;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.nav-logo {
  padding: 5px 0px 0px 50px !important;
  position: relative;
}

.nav-logo img {
  padding-top: 5px;
  width: 50px;
  height: 50px;
}

.nav-logo span {
  position: absolute;
  font-size: 25px;
  top: 15px;
  left: 45%;
  color: #ffffff;
  text-shadow: 2px 2px 5px #000;
}

.nav-hr {
  border: 0px;
  height: 1px;
  background-color: white;
}

.nav-search {
  position: relative;
}

.nav-search input {
  color: white;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #fff;
  width: 85%;
}

.nav-search input::placeholder {
  color: white;
}

.nav-search i {
  transform: scaleX(-1);
  position: absolute;
  top: 15px;
  right: 40px;
}

.submenu-ul {
  list-style: none;
}

.submenu-ul li {
  padding: 0px;
}

.copyright {
  position: absolute;
  bottom: 3px;
  left: 10%;
}

.bg-color-1 {
  background-image: linear-gradient(to right, #7b24ebba, #ab22dab5, #ca2fcac7, #df44bdc7, #ed5bb3c2);
  padding: 13px;
}

.bg-img-nav {
  background-image: url('../img/night.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

.barOpen {
  color: white;
  font-size: 22px;
  cursor: pointer
}

.profile-img {
  width: 28px;
  border-radius: 50%;
}

.settings-color {
  position: relative;
  overflow: hidden;

}

.settings-color-p {
  margin-top: 0px;
  width: 150px;
  background: #d4d4d4;
  padding: 5px 10px 5px 10px;
  margin-right: -110px;

  transition: margin-right 800ms;
}

.settings-color-p i {
  /* padding: 5px;*/
}

.settings-color-p:hover {
  margin-right: 0px;
}

.color-1 {
  content: " ";
  background-image: linear-gradient(to right, #7b24ebba, #ab22dab5, #ca2fcac7, #df44bdc7, #ed5bb3c2);
  width: 15px;
  border-radius: 50%;
}

.color-2 {
  content: " ";
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  width: 15px;
  border-radius: 50%;
}

.color-3 {
  content: " ";
  background-image: linear-gradient(to right top, #eb992f, #ec821c, #ec680e, #ec490b, #eb1212);
  width: 15px;
  border-radius: 50%;
}

.color-4 {
  content: " ";
  background-image: linear-gradient(to right top, #2f3feb, #0077ff, #0093e3, #00a6b0, #28b389);
  width: 15px;
  border-radius: 50%;
}

.ct-area {
  fill-opacity: 0.8;
}

.max-h {
  max-height: 350px;
}

.ct-chart {
  height: 100%;
}

.bg-color-statusbar-1 {
  background-image: linear-gradient(to right, #7a24eb, #ac22da, #ca2fca, #df44be, #ed5bb3);
}

.bg-color-statusbar-1 img {
  transform: rotate(-15deg);
  width: 100%;
  padding: 15px;
  opacity: 0.8;
}

.bg-color-statusbar-2 {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.bg-color-statusbar-2 img {
  transform: rotate(-15deg);
  width: 100%;
  padding: 15px;
  opacity: 0.8;

}

.bg-color-statusbar-3 {
  background-image: linear-gradient(to right top, #eb992f, #ec821c, #ec680e, #ec490b, #eb1212);
}

.bg-color-statusbar-3 img {
  transform: rotate(-15deg);
  width: 100%;
  padding: 15px;
  opacity: 0.8;
}

.bg-color-statusbar-4 {
  background-image: linear-gradient(to right top, #2f3feb, #0077ff, #0093e3, #00a6b0, #28b389);
}

.bg-color-statusbar-4 img {
  transform: rotate(-15deg);
  width: 100%;
  padding: 15px;
  opacity: 0.8;

}

.padTop-25px {
  padding-top: 25px;
  font-size: 1vw;
}

.txt-shadow {
  text-shadow: 2px 2px 5px #000;
}

.box-shadow {
  box-shadow: 1px 1px 5px #000;
}

.bg-img-statusCard {
  background-image: url('../img/chart.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 213px;
  padding: 0px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
}

.bg-color-statusCard {
  background-image: linear-gradient(to right, #7b24ebba, #ab22dab5, #ca2fcac7, #df44bdc7, #ed5bb3c2);
  width: 100%;
  height: 213px;
  border-radius: 5px;
}

.bg-color-statusCard p {
  text-align: left;
  color: #fff;
  padding-top: 12%;
  padding-left: 20px;
  font-size: 21pt;
}

.bg-color-statusCard span {
  text-align: left;
  color: #fff;
  padding-top: 10px;
  padding-left: 32%;
  font-size: 25pt;
}

.pie-chart {
  position: absolute;
  width: 85px;
  right: 25px;
  top: 45px;
  opacity: 0.65;
  transition: all 350ms;
}

.bg-color-statusCard:hover .pie-chart {
  opacity: 1;
  transform: rotate(360deg) scale(1.2);
}

.bg-img-statusCard-2 {
  background-image: url('../img/pc\ and\ codde\ .jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 213px;
  padding: 0px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
}

.pie {
  position: absolute;
  width: 85px;
  right: 25px;
  top: 45px;
  opacity: 0.65;
  transition: all 800ms;
}

.bg-color-statusCard:hover .pie {
  opacity: 1;
  transform: scale(1.4);
  right: 30px;

}

.bg-img-statusCard-3 {
  background-image: url('../img/shop.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 213px;
  padding: 0px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
}

.cart {
  position: absolute;
  width: 85px;
  right: 25px;
  top: 45px;
  opacity: 0.65;
  transition: all 800ms;
}

.bg-color-statusCard:hover .cart {
  opacity: 1;
  transform: scaleX(-1) scale(1.02);
  right: 20px;
}